{%  extends "coffeeshop/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    To do:
    <p></p>
    - ETL Info Card - Needs to update after each request
    <p></p>
    - Users permissions - Customers has no ETL view access / Add different nav bar?
    <p></p>
    - Purchase Order form - Format + Include menu on sidebar
    <br>
    + customer_id populates from User_id / Remove Customer class? + Bulk load customer orphan
    <p></p>
    - Analytics - insert actual analysis & charts
    <p></p>
    - Archiving - actual process
    <p></p>
    - Destruction - actual process
    <p></p>
    - Deploy to Heroku
    <br><p></p>
    <br>
    **Fixed:<p></p>
    + Order field must be AutoField and unique value per Order, not line<br>
    + Success message should display if form is valid, not empty and return to form<br>
    + Dates handling when importing csv files<br>
    + Plotly Dash error when first loading<br>

</div>

{% endblock %}
