{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <form action="." method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <label>Subir CSV:</label>
            <input type="file" name="csv_file">
            <p></p>
            <button type="submit">Submit</button>
        </form>
    </div>
    <br>
    <br>
    <div>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Delete all records:</label>
            <button type="submit" class="btn btn-danger float-left" name="delete_data">Delete</button>
        </form>
    </div>
{% endblock %}
