{% extends "coffeeshop/base.html" %}
{% load humanize %}

{% block content %}
<br>

<div class="row">
    <div class="col-md-4">
        <div class="card text-center text-white mb-3" id="archive_info">
            <div class="card-header">
                <h5 class="card-title">Archival Process</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr align="left">
                        <td>Records in DataWarehouse:</td>
                        <td>{{ records_datawarehouse|intcomma }}</td>
                    </tr>
                    <tr align="left">
                        <td>Records in Archive:</td>
                        <td>{{ records_archive|intcomma }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <!-- Possibly other information or empty space -->
    </div>
</div>
<br>

<form method="post" action="{% url 'archive_process' %}">
    {% csrf_token %}
    <input type="hidden" name="archive_data">
    <button type="submit" class="btn btn-secondary">Run Archive Process</button>
</form>

<form method="get" action="{% url 'archive_process' %}">
    <input type="hidden" name="render_archive_data">
    <button type="submit" class="btn btn-info">Query Archive</button>
</form>

<div class="scrollable-content">
    {% if df_render %}
        {{ df_render|safe }}
    {% endif %}
</div>

{% endblock %}
