{%  extends "coffeeshop/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    To do:
    <p></p>
    
    <p></p>
    - Analytics - insert actual analysis & charts
    <p></p>
    - Archiving - actual process
    <p></p>
    - Destruction - actual process
    <br><p></p>
    <br>
    **Fixed:<p></p>
    - Users permissions - Customers has no ETL view access <br>
    - ETL Info Card - Needs to update after each request <br>
    - Purchase Order form - Format + Include menu on sidebar <br>


</div>

{% endblock %}
